h1{color:blue;text-align:center;}
h2{color:blue;text-align:left;}
body{background-color:black;}
h3{color:blue;text-align:center;}
div{text-align:right;}
input{color:black;background-color:blue;border-radius:20px}